### Seems to cause problems in ci
### https://github.com/vercel/turborepo/discussions/9067
# use-node-version=20.13.1
# use-node-version=20.15.0

# prefer-frozen-lockfile=true
# auto-install-peers=false

# link-workspace-packages=false
# prefer-workspace-packages=true
# save-workspace-protocol=false

link-workspace-packages=deep
prefer-workspace-packages=true
save-workspace-protocol=rolling

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@flexiness/*
public-hoist-pattern[]=@flex-design-system/*
public-hoist-pattern[]=on-board-event-*
public-hoist-pattern[]=gateway
